<module>
	<rawname>asteriskinfo</rawname>
	<repo>standard</repo>
	<name>Asterisk Info</name>
	<version>15.0.4.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Reports</category>
	<description>
		Provides a snapshot of the current Asterisk configuration
	</description>
	<menuitems>
		<asteriskinfo needsenginedb="yes">Asterisk Info</asteriskinfo>
	</menuitems>
	<changelog>
		*15.0.4* FREEPBX-18384 Add ARI dependency; 
		*15.0.3* Add arimanager dependency
		*15.0.2* Packaging of ver 15.0.2
		*13.0.1* Fork from 13 branch
	</changelog>
	<depends>
		<module>arimanager</module>
	</depends>
	<supported>
		<version>15.0</version>
	</supported>
</module>
