<module>
	<rawname>asteriskinfo</rawname>
	<name>Asterisk Info</name>
	<version>0.3.0.1</version>
	<type>tool</type>
	<category>System Administration</category>
	<description>
		Provides a snapshot of the current asterisk configuration	
	</description>
	<menuitems>
		<asteriskinfo>Asterisk Info</asteriskinfo>
	</menuitems>
	<depends>
		<engine>asterisk</engine>
	</depends>
	<changelog>
		*0.3.0.1* bump for rc1
		*0.3.0* #2187 Fix for Asterisk 1.4
		*0.2.0* Add depends asterisk xml tag, proper error checking for manager connection, center table titles
		*0.1.0* Initial release
	</changelog>
	<location>release/2.3/asteriskinfo-0.3.0.1.tgz</location>
	<md5sum>d5ea7804c1d21ed3878efec9c3ded554</md5sum>
</module>
