h5 {
  color: #ff8a00;
}

table.box {
  background-color:#095a9a;
  border: none;
  padding: 1px;
  padding-top:0px;
  /*width: 700;*/
  text-align: left;
}
tr.boxheader {
  background-color: #095a9a;
  text-align: left;
}
td.boxheader {
  text-align: left;
}
tr.boxbody {
  color: #000000;
  background-color: #e6e6e6;
  text-align: left;
  font-size: 12px;
}

.list-group-rnav {
	margin-top: 20px;
}

.alert-asterisk-stop {
	font-size: x-large;
}

.table-asteriskinfo-channels {

	.col-status {
		width: 90px;
		text-align: center;
	}

	.channel-status-online {
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}

	.channel-status-offline {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}

	.channel-status-unknown {
		color: #31708f;
		background-color: #d9edf7;
		border-color: #bce8f1;
	}
	
	.channel-status-default {
		color: #8a6d3b;
		background-color: #fcf8e3;
		border-color: #faebcc;
	}

}